<h1><%= @sin.title %></h1>
     
<%= image_tag @sin.image_url.to_s %>

<p><%= @sin.description %></p>

<%= link_to "Back", root_path %>

<%= link_to "Edit", edit_sin_path%>

<%= link_to "Delete", sin_path, method: :delete, data: {confirm: "Are you sure?" } %>
